

*{
    font-family: "League Spartan", sans-serif;
    font-size: 20px;

}
body{
    width: 1440px;
    height: 94vh;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-size: 550px, 1150px;
    background-repeat: no-repeat, no-repeat;
}
.main{
    margin : 100px 0px 0px 150px;
    width: 80%;
}
h1{
    color: #502050;
    font-size: 3em;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    padding-right: 140px;
}
.product{
    display: flex;
    padding-bottom: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;

}
.description{
    color: #502050; 
    font-weight: 300; 
    margin : 0px;
    padding-right: 80px;
}
.ratings{
    padding-left: 50px;
    width: 100%;
    position: relative;
    top: 5px;
    left: 50px;
}
.rating {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f7f2f7;
    margin: 15px 0px;
    padding-top: 6px;
    border-radius: 10px;
    width: 500px;
}
.a{
    position: relative;
    left: -50px;
}
.c{
    position: relative;
    left: 50px;
}
.estrellas{
    margin: 0px 30px;
}
.bolder{
    margin: 15px 0px;
    font-size: 15px;
    font-weight: 700;
    padding: 0px;
}
.reviews{
    display: flex;
    width: 101%;
    position: relative;
    top: 50px;
}
.block{
    background-color: #502050;
    border-radius: 10px;
    padding: 40px 30px;
    height: 180px;
}
.block p{
    color: white;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
}
.r1{
    margin-right: 15px;
    position: relative;
    top: -15px;
}
.r2{
    margin: 0px 15px;
}
.r3{
    margin-left: 15px;
    position: relative;
    top: 15px;
}
h3{
    color: white;
    font-weight: 400;
    margin: 3px 0px;
    text-align: justify;
}
small{
    color: #a573a3;
}
.top{
    display: flex;
    align-items: center;
}
.image{
    position: relative;
}
.profile{
    position: relative;
    left: 25px;
    bottom: 2px;
}
.image img{
    border-radius: 60px;
    width: 50px;
}